body {
   background-image: url(graybg.png);
    background-size: cover;

    font-size: large;
    text-align:center ;
    color:rgb(185, 236, 185) ;

}
.navbar-custom {
    background-color: rgb(106, 129, 92);
}
.nav-item {
    background-color: rgba(121, 212, 29,1) ;
    border-radius: 1rem;
    border: 0.5vh black solid;
}
.hero{
    background-color:  rgba(106, 129, 92, 0.9);
    border: 0.5vh solid black;
    text-decoration: underline dimgray;
}
.card {
    background-color: rgba(106, 129, 92, 0.3);
}
.card-title {
    font-size: 3vh;
    color: #65c73f;
}
.card-text {
    color: green;
}
.faq a {
    color: #65c73f;
}